* {
	list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: orange;
}

main {
  display: grid;
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: black;
  vertical-align: middle;
  padding: 10px;
  margin: 10em 10em 0.2em 10em;
}

#partyTime{
 height: auto;
 vertical-align: middle;
 weight: 100px;
 padding: 1em;
 border: 0.5em;
}